<html>
  <head>
        <link rel="stylesheet" type="text/css" href="./style.css">
  </head>
  <body>

    <section class="header">
      <h1>The Digital Seamstress</h1>
      <br>
    </section>


    <section class="tabellenbereich">



     <table>
       <tr>
         <th>Schnittmuster</th>
         <th>Stoff</th>
         <th>Länge</th>
         <th>Aktion</th>
       </tr>

    <% @schnittmuster.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.stoff %></td>
      <td><%= item.laenge %></td>
      <td><%= item.laenge %></td>
    </tr>

    <% end %>


     </table>

     <form action='/' method="POST">
       <input type="text" name="name">
       <input type="text" name="stoff">
       <input type="text" name="laenge">
       <button type="submit"> Add </button>
     </form>

</section>

<br>
<br>


  </body>
</html>
