<html>
  <head>
        <link rel="stylesheet" type="text/css" href="./style.css">
  </head>
  <body>

    <section class="header">
      <h1>Kontaktdaten</h1>
      <br>
     <p style="margin-top: 30px"><h2>Und ganz wichtig: Der jetzige Timecode lautet <%= Time.now %>'</h2></p>
    </section>


    <section class="tabellenbereich">



     <table>
       <tr>
         <th>Name</th>
         <th>Nummer</th>
         <th>Wohnort</th>
       </tr>

    <% @freunde.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.nummer %></td>
      <td><%= item.ort %></td>
    </tr>

    <% end %>


     </table>

     <form action='/' method="POST">
       <input type="text" name="name">
       <input type="text" name="nummer">
       <input type="text" name="ort">
       <button type="submit"> Add </button>
     </form>

</section>

<br>
<br>


  </body>
</html>
