/*
HPI Yellow: #73d216;
HPI Orange: #4e9a06;
HPI Red: #cc0000;
*/

* {
	margin:0 ;
}

body {
	font-family: Helvetica, Arial, sans-serif;
  background-color: #FFFFFF
}

table {
	  background: #FFFFFF;
		opacity: 0.5;
		margin: 10;
		width: 520px;
		padding: 10;

}

.tabellenbereich>table {
	margin-left:auto;
	margin-right: auto;


}


.tabellenbereich>form {
	margin-left:auto;
	margin-right: auto;


}


h1 {
	font-size:35px;
	font-weight:600;
	color:#FFFFFF;
	float:left;
	width:100%;
	}

h2 {
	font-size:20px;
	font-weight:500;
	color:#fff;
	font-style: italic;
	float:left;
	width:100%;
}

h3 {
	float:left;
	width:100%;
	font-size:26px;
	font-weight:500;
	color:#596164;
	float:left;
	width:100%;
}

h4 {
	float:left;
	width:100%;
}

h5 {
	float:left;
	width:100%;
	font-size:18px;
	font-weight:500;
	color:#596164;
	opacity:0.5;
	float:left;
	width:100%;
}

section {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10;


}

.tabellenbereich {
background-image: url(Sewing_Tools.jpg);
padding: 10;
width:97%;
background-size: cover;
background-repeat: no-repeat;
margin-left: auto;
margin-right: auto;


}


.header {
background-color: #ae160c;
height: 100px;
width: 97%;
padding: 10;
line-height: 100px;


}

form {
	background: #FFFFFF;
	opacity: 0.8;
	margin: 10;
  width: 500px;
	white-space: nowrap;
	overflow:hidden;
	padding: 10;

}
