
* {
	margin:0 ;
}

body, html {
    padding: 0;
    margin: 0;
}

body {
	font-family: 'Arial';
	font-style: "normal";
	background-color: white;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

@media only screen and (max-width: 630px) {
  .sewing-image .table,
  .sewing-image .table-cell {
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }

	h1 {
		font-size: 22px !important;
		font-weight:600;
	}
}

body * {
	box-sizing: border-box;
}

.sewing-image {
		background-image: url(bg-picture.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		width: 100%;
		position: relative;
		height: 100vh;
}

.sewing-image .content {
		position: absolute;
		bottom:0;
		left: 0;
		width: 100%;
		color: black;
		z-index: 3;
		padding: 50px;
		font-family: 'Rock Salt', cursive;
	}

.table-cell {
		display: table-cell;
		vertical-align: middle;

}

.left {
		text-align: left;

}

.right{
		text-align: right;
}

.table {
		display: table;
		vertical-align: middle;
		table-layout: fixed;


}



table {
	  background: #FFFFFF;
		opacity: 0.5;
		margin: 10;
		width: 730px;
		padding: 10;
		border-collapse: collapse;

}

th {
		text-align: left;
		padding-bottom: 10;


}

.tabellenbereich>table {
	margin-left:auto;
	margin-right: auto;


}


.tabellenbereich>form {
	margin-left:auto;
	margin-right: auto;


}


h1 {
	font-size:5em;
	font-weight:600;
	color:#FFFFFF;
	float:left;
	width:100%;
	}

h2 {
	font-size:20px;
	font-weight:500;
	color:#fff;
	font-style: italic;
	float:left;
	width:100%;
}

h3 {
	float:left;
	width:100%;
	font-size:26px;
	font-weight:500;
	color:#596164;
	float:left;
	width:100%;
}

h4 {
	float:left;
	width:100%;
}

h5 {
	float:left;
	width:100%;
	font-size:18px;
	font-weight:500;
	color:#596164;
	opacity:0.5;
	float:left;
	width:100%;
}

section {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10;


}

.tabellenbereich {
padding: 10;
margin-left: auto;
margin-right: auto;


}



.success {
background-color: #90EE90
}

.header {
	background-image: url(sewing-buttons.jpg);

	background-repeat: no-repeat;
	width: 100%;
	height: 150px;
	margin-left: auto;
	margin-right: auto;




}

form {
	background: #FFFFFF;
	opacity: 0.8;
	margin: 10;
  width: 680px;
	white-space: nowrap;
	overflow:hidden;
	padding: 10;



}
